{
  "name": "<string identifying relay>",
  "description": "<string with detailed information>",
  "pubkey": "<administrative contact pubkey>",
  "contact": "<administrative alternate contact>",
  "supported_nips": [
    1,
    4,
    5,
    11,
    42,
    44,
    47,
    57
  ],
  "software": "https://git.mutatrum.com/mutatrum/ligess",
  "version": "2.0.0",
  "limitation": {
    "auth_required": true
  }
}
